<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.hospital.mapper.ScheduleMapper">
    <select id="summitOrderForUpdate" resultType="com.atguigu.hospital.model.Schedule">
        SELECT *  FROM schedule where id = #{scheduleId} for update
    </select>
</mapper>
